*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

img {
  display: block;
}

nav {
    background: #f1f5f8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
    box-shadow: 0 10px 10px rgba(0,0,0,.5);
}
.btn {
  text-transform: uppercase;
  background: transparent;
  padding: 0.375rem 0.75rem;
  display: inline-block;
  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: #fff;
  background: red;
}

/*
=============== 
Navbar
===============
*/
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
.nav-toggle:hover {
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
.links a {
  font-size: 1rem;
  text-transform: capitalize;
  display: block;
  padding: 0.5rem 1rem;
}
.links a:hover {
  padding-left: 1.5rem;
  padding: 0 2rem;
}
.social-icons {
  display: none;
}
.links {
  height: 0;
  overflow: hidden;
}
.show-links {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: blue;
  }
}
