// colors
$color-primary-dark:   #6043F5 ;
$color-primary-light: #745AF7;
// $color-primary-dark : ;

$color-hero-image:  #C4C4C4;

$color-white: #ffffff;


//font-sizes




//grid

$grid-width: 114rem;
$row-vertical-gutter: 8rem;
$row-horizontal-gutter: 6rem;