.services-container {
    /* margin: 1.5rem auto; */
    margin: 0 auto;
    padding: 0 2rem;
}
.services {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}
.services .card {
    width: 90%;
    height: 250px;
    margin: 2rem auto;
    /* padding: 0; */
    background: var(--mainWhite);

    position: relative;
    transition: all 500ms ease-in-out;
    overflow: hidden;
    box-shadow: 5px 3px 10px 1.5px rgba(0,0,0, .5);

}
.services .card:hover {
    box-shadow: 10px 10px 15px 1.5px rgba(0,0,0, .5);
}
.services .card img{
    width: 100%;
    height: 200px;
    transition: var(--mainTransition);
    overflow: hidden;
}
.services .card:hover img{
    /* takes up the total height of the card */
    height: 250px;
    transform: scale(1.);
    opacity: .75;
}
.services .card h2{
    text-transform: uppercase;
    font-size: 1.0rem;
    padding: .5rem 1rem;
    place-self: center;
    margin: auto 0;
}


/* Features */
.services .card .features{
    opacity: 0;
    position: absolute;
    top: 42.5%;
    left: 35%;
    padding: .75rem 1rem;
    background: transparent;
    border: .11rem solid var(--mainWhite);
    color: var(--mainWhite);
    transition: var(--mainTransition);
    text-transform: capitalize;
}
.services .card:hover .features{
    opacity: 1;
}


@media (max-width: 599px) {
    .services-container {
        padding: 0 ;
    }
    .services .card {
        margin: 0 auto 2rem;
        padding: 0 ;
    }
    @media (min-width: 321px) and (max-width: 375px) {
        .services .card .features{
            left: 37.5%;
        }
    }
    @media (min-width: 376px) and (max-width: 539px) {
        .services .card .features{
            left: 40%;
        }
    }
}